In [ ]:
# Description : The project aims at predicting payment date or invoice clear date

In [ ]:
# Imports
from forex_python.converter import CurrencyRates
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
import  matplotlib.pyplot as plt

%matplotlib inline
warnings.filterwarnings("ignore")

## READING DATA

In [ ]:
# Loading Data
raw = pd.read_csv(r'H2HBABBA3195.csv')

In [ ]:
raw.shape

In [ ]:
# Overview of Data
raw.head()

In [ ]:
raw.dtypes

In [ ]:
raw.nunique(axis=0)

## PREPROCESSING THE DATA

### PARSING DATES

In [ ]:
# converting dates into appropriate format

def convert_to_date(df,attribute,general=True):
    if(general):
        df[attribute] = pd.to_datetime(df[attribute])
    else:
        df[attribute] = pd.to_datetime(df[attribute],format='%Y%m%d')     
        
convert_to_date(raw,'clear_date',True)
convert_to_date(raw,'posting_date',True)
convert_to_date(raw,'document_create_date',False)
convert_to_date(raw,'document_create_date.1',False)
convert_to_date(raw,'baseline_create_date',False)
convert_to_date(raw,'due_in_date',False)

### REMOVING CONSTANT COLUMNS

In [ ]:
# as inferred from the nunique function 
# posting_id is constant column and area_business is NULL column

raw.drop(['posting_id','area_business'],axis=1,inplace=True)

### NULL IMPUTATION

In [ ]:
raw.isna().sum()

In [ ]:
# as there are only 4 NULL in only invoice_id 
# which is approximately 0.008% of the whole data
# also as according to data dictionary invoice_id is the unique no that identifies an invoice 
# hence can be dropped

raw[raw.invoice_id.isnull()]

In [ ]:
raw = raw[raw.invoice_id.isnull()==False]

In [ ]:
raw['cust_number'] = raw['cust_number'].astype(str)

### CHECK FOR DUPLICATE ROWS

In [ ]:
#raw[raw.duplicated()]

In [ ]:
# Infering from the above output its clear that the rows where clear_date is NULL should be used as FINAL_TEST_SET
# Separaring FINAL_TEST_SET from MAIN_SET

final_test = raw[raw.clear_date.isnull()]
main_set = raw[raw.clear_date.isnull()==False]

### TARGET VARIABLE

In [ ]:
# for a regression based model its not easy to predict payment date straight away
# hence choosing delay of no of days as target

def create_target_variable(data_frame):
    data_frame['target'] = (data_frame['clear_date'] - data_frame['baseline_create_date']).dt.days

create_target_variable(final_test)
create_target_variable(main_set)

## TRAIN TEST VALIDATION SPLIT

In [ ]:
# Splitting at this point is important so as to avoid any target data leekage
# we are working with time series, hence its necessary to sort the data according to time
# as in any case we won't be predecting any past date

main_set.sort_values(by=['document_create_date'])

In [ ]:
X = main_set.drop('target',axis=1)
Y = main_set['target']

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0,shuffle = False)

In [ ]:
X_main_train,X_val,Y_main_train,Y_val = train_test_split(X_train,Y_train,test_size=0.2,random_state=0,shuffle = False)

In [ ]:
# Now we have four sets of data
# 1. final_set
# 2. X_test       -- Y_test
# 3. X_val        -- Y_val
# 4. X_main_train -- Y_main_train

X_main_train.shape ,X_test.shape ,X_val.shape

## EDA AND OUTLIERS

In [ ]:
sns.distplot(Y_main_train)

In [ ]:
sns.scatterplot(data=X_main_train.merge(Y_main_train,on = X_main_train.index), x="total_open_amount", y="target")

In [ ]:
sns.boxplot(Y_main_train)

In [ ]:
Q1 = np.percentile(Y_main_train, 1, interpolation = 'midpoint') 
Q2 = np.percentile(Y_main_train, 50, interpolation = 'midpoint') 
Q3 = np.percentile(Y_main_train, 99, interpolation = 'midpoint') 
  
print('Q1 25 percentile of the given data is, ', Q1)
print('Q1 50 percentile of the given data is, ', Q2)
print('Q1 75 percentile of the given data is, ', Q3)
  
IQR = Q3 - Q1 
print('Interquartile range is', IQR)

In [ ]:
low_lim = Q1 - 1.5 * IQR
up_lim = Q3 + 1.5 * IQR
print('low_limit is', low_lim)
print('up_limit is', up_lim)

In [ ]:
outlier =[]
for x in Y_main_train:
    if ((x> up_lim) or (x<low_lim)):
         outlier.append(x)
print(' outlier in the dataset is', len(outlier))

In [ ]:
from scipy import stats
IQR = stats.iqr(Y_main_train, interpolation = 'midpoint')
IQR

## FEATURE ENGINEERING

In [ ]:
# X_main_train

In [ ]:
X_main_train['business_code'].value_counts()

In [ ]:
X_main_train['cust_payment_terms'].value_counts()

In [ ]:
X_main_train['document type'].value_counts()

In [ ]:
X_main_train['isOpen'].value_counts()

In [ ]:
pd. set_option('display.max_rows', 3000) # or 1000.
X_main_train['cust_number'].value_counts()

In [ ]:
class Encoder:
    def __init__(self,main_list):
        self.main_list = np.append(main_list,['OTHR'])
        self.encoder = LabelEncoder()
        self.encoder.fit(self.main_list)
        
    def encode(self,data):
        data = np.where(data.isin(self.main_list),data,'OTHR')
        data = self.encoder.transform(data)
        return data

In [ ]:
# Business_code_encoder = Encoder(np.array(['U001','CA02','U013']))

# X_main_train['business_code'] = Business_code_encoder.encode(X_main_train['business_code'])
# X_test['business_code'] = Business_code_encoder.encode(X_test['business_code'])
# X_val['business_code'] = Business_code_encoder.encode(X_val['business_code'])

In [ ]:
# main_cat = get_subarray_freq(X_main_train['cust_payment_terms'],5)
# Customer_payterms_encoder = Encoder(main_cat)

# X_main_train['cust_payment_terms'] = Customer_payterms_encoder.encode(X_main_train['cust_payment_terms'])
# X_test['cust_payment_terms'] = Customer_payterms_encoder.encode(X_test['cust_payment_terms'])
# X_val['cust_payment_terms'] = Customer_payterms_encoder.encode(X_val['cust_payment_terms'])

In [ ]:
# Helper function 
def get_subarray_freq(arr,frequency):    
    (unique, counts) = np.unique(arr, return_counts=True)
    final = []
    for x in range(len(unique)):
        if(counts[x]>=5):
            final.append(unique[x])
    final = np.array(final)
    return final

In [ ]:
# Handling Business_code
major_business_code = get_subarray_freq(X_main_train['business_code'],328)
major_business_code = np.append(major_business_code,'OTHR')
print(major_business_code)

business_code_en = LabelEncoder()
business_code_en.fit(major_business_code)

def handle_business_code(df):
    df['business_code'] = np.where(df['business_code'].isin(['U001','CA02','U013']),df['business_code'],'OTHR')
    df['business_code'] = business_code_en.transform(df['business_code'])
    
handle_business_code(X_main_train)
handle_business_code(X_test)
handle_business_code(X_val)

In [ ]:
# Handling Customer_no
major_customer = get_subarray_freq(X_main_train['cust_number'],328)
major_customer = np.append(major_customer,'OTHR')

# print(major_customer)

cust_number_en = LabelEncoder()
cust_number_en.fit(major_customer)

def handle_customer_number(df):
    df['cust_number'] = np.where(df['cust_number'].isin(major_customer),df['cust_number'],'OTHR')
    df['cust_number'] = cust_number_en.transform(df['cust_number'])
    
handle_customer_number(X_main_train)
handle_customer_number(X_test)
handle_customer_number(X_val)

In [ ]:
# Handling Cust_payment_terms
major_cat = get_subarray_freq(X_main_train['cust_payment_terms'],5)
major_cat = np.append(major_cat,'OTHR')

cust_payment_terms_en = LabelEncoder()
cust_payment_terms_en.fit(major_cat)

def handle_cust_payment_terms(df):
    df['cust_payment_terms'] = np.where(df['cust_payment_terms'].isin(major_cat),df['cust_payment_terms'],'OTHR')
    df['cust_payment_terms'] = cust_payment_terms_en.transform(df['cust_payment_terms'])
    
handle_cust_payment_terms(X_main_train)
handle_cust_payment_terms(X_test)
handle_cust_payment_terms(X_val)

In [ ]:
# Handling total_open_amount
min_date = raw['baseline_create_date'].min()
max_date = raw['baseline_create_date'].max()
all_dates = np.arange(min_date,max_date, dtype='datetime64[D]')
print(min_date,max_date)
print(all_dates.shape)
# c = CurrencyRates()
# c.convert('USD','INR',1, min_date)
average_rate = 0.81

def handle_date(df):
    df['total_open_amount'] = np.where(df['invoice_currency'].isin(['USD']),df['total_open_amount'],df['total_open_amount']*average_rate)

handle_date(X_main_train)
handle_date(X_test)
handle_date(X_val)

In [ ]:
# Handling invoice_currency
currency_type = X_main_train['invoice_currency'].unique()
invoice_currency_en = LabelEncoder()
cust_payment_terms_en.fit(currency_type)

def handle_cust_payment_terms(df):
    df['invoice_currency'] = cust_payment_terms_en.transform(df['invoice_currency'])
    
handle_cust_payment_terms(X_main_train)
handle_cust_payment_terms(X_test)
handle_cust_payment_terms(X_val)

In [ ]:
# Handling document type

def handle_doc_type(df):
    df.drop(['document type'],axis=1,inplace=True)
    
handle_doc_type(X_main_train)
handle_doc_type(X_test)
handle_doc_type(X_val)

In [ ]:
# Handling is_open

def handle_is_open(df):
    df.drop(['isOpen'],axis=1,inplace=True)
    
handle_is_open(X_main_train)
handle_is_open(X_test)
handle_is_open(X_val)

In [ ]:
# Handling name_customer

def handle_name(df):
    df.drop(['name_customer'],axis=1,inplace=True)
    
handle_name(X_main_train)
handle_name(X_test)
handle_name(X_val)

In [ ]:
# Handling buisness_year

def handle_buisness_year(df):
    df.drop(['buisness_year'],axis=1,inplace=True)
    
handle_buisness_year(X_main_train)
handle_buisness_year(X_test)
handle_buisness_year(X_val)

In [ ]:
# Handling buisness_year

def handle_invoice_id(df):
    df.drop(['invoice_id'],axis=1,inplace=True)
    
handle_invoice_id(X_main_train)
handle_invoice_id(X_test)
handle_invoice_id(X_val)

In [ ]:
# Handling doc_id

def handle_doc_id(df):
    df.drop(['doc_id'],axis=1,inplace=True)
    
handle_doc_id(X_main_train)
handle_doc_id(X_test)
handle_doc_id(X_val)

In [ ]:
colormap = plt.cm.RdBu
plt.figure(figsize=(14,12))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(X_main_train.merge(y_main_train , on = X_main_train.index ).corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

In [298]:
X_main_train.head(50)

,business_code,cust_number,clear_date,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,total_open_amount,baseline_create_date,cust_payment_terms
0,2,285,2019-03-28,2019-03-12,2019-03-10,2019-03-12,2019-03-27,1,44468.830000,2019-03-12,11
1,2,268,2019-04-03,2019-03-24,2019-03-23,2019-03-24,2019-04-08,1,4013.750000,2019-03-24,23
2,2,273,2019-05-22,2019-05-06,2019-05-06,2019-05-06,2019-05-21,1,77909.090000,2019-05-06,27
3,2,44,2020-03-02,2020-02-20,2020-02-20,2020-02-20,2020-03-10,1,2459.370000,2020-02-16,26
4,2,184,2019-05-15,2019-04-30,2019-04-30,2019-04-30,2019-06-03,1,10073.680000,2019-04-30,12
8,5,415,2019-06-04,2019-05-24,2019-05-20,2019-05-24,2019-06-23,1,16056.040000,2019-05-24,31
9,2,124,2019-12-16,2019-12-05,2019-12-05,2019-12-05,2019-12-24,1,103.920000,2019-12-01,26
11,0,66,2019-09-12,2019-08-26,2019-08-26,2019-08-26,2019-09-05,0,63400.557006,2019-08-26,2
12,2,397,2019-04-15,2019-03-29,2019-03-27,2019-03-29,2019-04-13,1,15706.200000,2019-03-29,13
14,2,246,2019-07-31,2019-07-18,2019-07-18,2019-07-18,2019-08-02,1,21581.580000,2019-07-18,11
15,2,133,2019-12-30,2019-12-20,2019-12-20,2019-12-20,2020-01-08,1,2700.680000,2019-12-16,26
17,2,268,2019-04-02,2019-03-22,2019-03-21,2019-03-22,2019-04-06,1,64150.230000,2019-03-22,23
20,2,397,2019-03-27,2019-03-12,2019-03-12,2019-03-12,2019-03-27,1,1834.120000,2019-03-12,13
21,2,184,2019-04-05,2019-03-21,2019-03-21,2019-03-21,2019-04-10,1,15904.470000,2019-03-21,18
22,2,268,2019-09-16,2019-09-05,2019-09-03,2019-09-05,2019-09-20,1,1590.620000,2019-09-05,23
23,2,180,2019-04-15,2019-03-30,2019-03-30,2019-03-30,2019-04-14,1,49540.720000,2019-03-30,11
24,2,188,2019-04-10,2019-03-26,2019-03-26,2019-03-26,2019-04-10,1,64074.350000,2019-03-26,11
25,2,411,2019-12-20,2019-11-25,2019-11-22,2019-11-25,2019-12-30,1,17575.000000,2019-11-25,21
26,2,235,2020-02-10,2020-01-25,2020-01-24,2020-01-25,2020-02-09,1,61863.280000,2020-01-25,11
28,2,345,2019-05-21,2019-05-07,2019-05-06,2019-05-07,2019-05-22,1,6519.600000,2019-05-07,11
29,2,414,2020-02-28,2020-01-02,2019-12-29,2020-01-02,2020-01-02,1,2591.280000,2020-01-02,40
30,2,211,2020-02-12,2020-01-28,2020-01-27,2020-01-28,2020-02-12,1,1001.340000,2020-01-28,11
32,0,87,2019-04-05,2019-03-03,2019-03-03,2019-03-03,2019-03-13,0,4904.176914,2019-03-03,2
33,2,268,2019-08-19,2019-08-07,2019-08-06,2019-08-07,2019-08-22,1,15482.300000,2019-08-07,23
34,2,314,2019-02-01,2019-01-17,2019-01-17,2019-01-17,2019-02-01,1,11004.760000,2019-01-17,13
35,2,415,2019-11-18,2019-10-25,2019-10-25,2019-10-25,2019-12-24,1,2520.180000,2019-10-25,35
37,2,192,2019-06-26,2019-06-10,2019-06-10,2019-06-10,2019-06-25,1,81372.740000,2019-06-10,11
38,2,162,2019-02-26,2019-02-21,2019-02-21,2019-02-21,2019-02-23,1,5084.300000,2019-02-16,24
39,0,68,2019-05-17,2019-05-02,2019-05-02,2019-05-02,2019-05-20,0,58017.453336,2019-05-10,2
41,2,124,2019-10-24,2019-10-18,2019-10-18,2019-10-18,2019-10-23,1,1490.560000,2019-10-16,24
43,2,415,2019-04-04,2019-02-25,2019-02-19,2019-02-25,2019-03-12,1,39150.000000,2019-02-25,11
44,2,211,2019-12-30,2019-12-15,2019-12-15,2019-12-15,2019-12-30,1,681.980000,2019-12-15,11
45,2,286,2019-10-03,2019-09-18,2019-09-17,2019-09-18,2019-10-03,1,1457.070000,2019-09-18,11
47,2,347,2019-06-27,2019-06-12,2019-06-12,2019-06-12,2019-06-27,1,2542.830000,2019-06-12,11
48,2,401,2019-07-26,2019-07-05,2019-06-29,2019-07-05,2019-07-25,1,13635.930000,2019-07-05,18
49,2,390,2019-06-04,2019-05-25,2019-05-24,2019-05-25,2019-06-09,1,66943.470000,2019-05-25,23
51,2,268,2019-07-15,2019-07-04,2019-07-04,2019-07-04,2019-07-19,1,15482.300000,2019-07-04,23
53,2,268,2019-02-05,2019-01-25,2019-01-21,2019-01-25,2019-02-09,1,447.450000,2019-01-25,23
54,2,268,2019-11-04,2019-10-22,2019-10-22,2019-10-22,2019-11-06,1,9224.310000,2019-10-22,23
57,2,362,2019-03-27,2019-03-12,2019-03-11,2019-03-12,2019-03-27,1,89536.390000,2019-03-12,11
58,2,211,2019-06-17,2019-06-02,2019-06-01,2019-06-02,2019-06-17,1,192.220000,2019-06-02,11
59,2,268,2019-02-22,2019-02-12,2019-02-11,2019-02-12,2019-02-27,1,7975.570000,2019-02-12,23
61,2,136,2019-12-26,2019-12-03,2019-12-03,2019-12-03,2019-12-23,1,22604.400000,2019-12-03,18
64,2,268,2019-04-05,2019-03-25,2019-03-25,2019-03-25,2019-04-09,1,844.320000,2019-03-25,23
65,2,268,2019-03-18,2019-03-06,2019-03-05,2019-03-06,2019-03-21,1,200.470000,2019-03-06,23
67,2,211,2019-01-28,2019-01-11,2019-01-11,2019-01-11,2019-01-26,1,505.350000,2019-01-11,11
68,2,268,2019-02-21,2019-02-09,2019-02-08,2019-02-09,2019-02-24,1,15465.230000,2019-02-09,23
69,2,268,2019-09-17,2019-09-04,2019-09-03,2019-09-04,2019-09-19,1,171.400000,2019-09-04,23
70,2,188,2020-02-03,2020-01-18,2020-01-15,2020-01-18,2020-02-02,1,24892.180000,2020-01-18,11
71,2,268,2019-11-04,2019-10-24,2019-10-23,2019-10-24,2019-11-08,1,826.010000,2019-10-24,23